.card {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    background: white;
}

.problemLabel.selectedProblemForPreview {
    background: #007bff !important;
    color: white !important;
}

.container_createContest {
    overflow-y: hidden;
    height: inherit;
}

.problemDetailsPanels {
    height: calc(100% - 40px);
}

.title {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type='datetime-local'],
input[type='text'] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.dashboardContainer {
    grid-template-columns: 40% auto;
    display: grid;
    background: #E3F6F5;
    height: inherit;
}

.formContainer {
    display: grid;
    justify-items: stretch;
    justify-content: start;
    grid-template-columns: 30% 70%;

}

.problemItem {
    display: grid;
    grid-template-columns: 91% auto;
    justify-content: space-between;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
}

.problemsContainer {
    max-height: 30vh;
    overflow-y: auto;
    height: 30vh;
}

.problemLabel {
    background: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}