.container_problemDetails {
    height: inherit;
    max-height: inherit;
    background: var(--container-bg-color);
    display: grid;
    grid-template-columns: 40vw auto;
}

.pointsContainer {
    display: flex;
    align-items: center;
}

.problemExtraInfoContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.problemBodyContainer.card {
    display: grid;
    grid-template-rows: 60px auto;
    align-items: center;
    height: calc(100% - 80px);
    width: inherit;
}

.problemStatementContainer {
    height: 100%;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
}

h2.problemTitle {
    font-weight: 100;
}