.uplodsContainer {
    display: flex;
    justify-content: space-evenly;
}

.uploadBtnContainer {
    display: flex;
    gap: 5px;
    align-items: stretch;
}

button.previewBtn {
    background: #007bff;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uploadbtn {
    background: #d9d9d9;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.previewContainer {
    height: inherit;
}

.createProblem {
    display: grid;
    height: inherit;
    grid-template-rows: 40px 40px auto;
}

.previewing {
    background: rgb(188, 188, 188) !important;
    color: black !important;
}