.contestinfo_container {
    height: inherit;
    overflow-y: auto;
    background: var(--container-bg-color);
}

.gridContainer {
    height: inherit;
    display: grid;
    grid-template-columns: 40% auto;
}

.leftPanel_contest {
    display: grid;
    grid-template-rows: 40vh 50vh;
}

.card.mySubmissionsContainer {
    height: inherit;
    max-height: inherit;
    overflow-y: auto;
}

.tabSelectionContainer {
    display: flex;
    gap: 5px;
    border-bottom: 1px solid;
    padding: 5px;
}

.tabSelectorBtn.btn {
    border: 1px solid;
}



.tabSelectorBtn.btn.selectedTab {
    background: #337ab7;
    color: white;
    border: 1px solid #337ab7 !important;
}

.content_subcontainer {
    height: inherit;
    max-height: inherit;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 50px auto;
}

.problemSetContainer.card {
    height: calc(100vh - 140px);
}

.contestSubmissionContainer {
    max-height: calc(100% - 30px);
    overflow-y: auto;
}

.submissionsListContainer {
    height: 100%;
}