.submissionContainer {
    display: flex;
    align-items: stretch;
    gap: 5px;
    justify-content: space-between;
}

.previousSubmissionsContainer {
    height: 25vh;
    max-height: 25vh;
    overflow-y: auto;
}