.titleContainer_createProblem {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.problemLabel.selectedProblemForPreview {
    background: #007bff !important;
    color: white !important;
}

.container_createContest {
    overflow-y: hidden;
    height: inherit;
}

.problemDetailsPanels {
    height: calc(100% - 40px);
}

.createContestPage_title {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}


.createContestInput {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dashboardContainer {
    grid-template-columns: 40% auto;
    display: grid;
    background: #E3F6F5;
    height: inherit;
}

.formContainer {
    display: grid;
    justify-items: stretch;
    justify-content: start;
    grid-template-columns: 30% 70%;
    align-items: center;
    gap: 5px;
}

.problemItem {
    display: grid;
    grid-template-columns: 91% auto;
    justify-content: space-between;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
}

.problemsContainer {
    max-height: 25vh;
    overflow-y: auto;
    height: 25vh;
}

.problemLabel {
    background: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}