.problemDesc_contest {
    display: flex;
    align-items: center;
}

.problemLabelContainer {
    margin: 0;
    gap: 10px;
    font-weight: 100;
}

.problemListContainer {
    max-height: inherit;
    overflow-y: auto;
}

.problemListItem {
    padding: 20px;
    background: var(--container-bg-color);
    border-radius: 10px;
    margin: 10px;
}

.extraInfoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}