.problemset {
    background: var(--container-bg-color);
    max-height: calc(100% - 20px);
    overflow-y: auto;
    height: calc(100% - 20px);
    padding: 10px;
}

th,
td {
    text-align: center !important;
}