.navBarContainer {
    display: grid;
    grid-template-columns: auto 80% auto;
    background: #272643;
    padding: 10px;
    margin: 0;
    gap: 5px;
    position: sticky;
    justify-items: center;
    align-items: center;
}

button.menuBtn {
    background: rgb(0, 0, 0, 0) !important;
    color: white !important;
    border: 1px solid white;
}

.menuBtn:hover {
    background: #04AA6D !important;
    color: black !important;
    border: 1px solid #04AA6D;
    cursor: pointer;
}

.menuContainer {
    display: flex;
    gap: 5px
}