.navBarContainer {
    display: grid;
    grid-template-columns: auto 80% auto;
    background: #272643;
    padding: 10px;
    margin: 0;
    gap: 5px;
    position: sticky;
    justify-items: center;
    align-items: center;
}