.contentsPanelHeadingContainer {
    display: grid;
    border-bottom: 1px solid;
    grid-template-columns: repeat(3, 33%);
    justify-items: stretch;
    justify-content: center;
    align-items: center;
}

.contentsPanelHeading {
    font-size: 20px;
    font-weight: 100;
    display: flex;
    cursor: pointer;
    padding: 10px;
    width: inherit;
    justify-content: center;
}

.contentsPanelHeading:hover {
    background: linear-gradient(0deg, var(--container-bg-color), transparent);
}

.selectedPanel {
    background: linear-gradient(0deg, var(--container-bg-color), transparent);
}

.container_userProfile {
    display: grid;
    grid-template-columns: 40% auto;
    background: var(--container-bg-color);
    height: inherit;
}

.operationTab {
    color: blue;
    cursor: pointer;
}

.tabSelectionContainer_profile {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    border-bottom: 1px solid;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}