.card {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    background: white;
}

.contentsPanelHeadingContainer {
    display: grid;
    border-bottom: 1px solid;
    grid-template-columns: repeat(3, 33%);
    justify-items: stretch;
    justify-content: center;
    align-items: center;
}

.contentsPanelHeading {
    font-size: 20px;
    font-weight: 100;
    display: flex;
    cursor: pointer;
    padding: 10px;
    width: inherit;
    justify-content: center;
}

.contentsPanelHeading:hover {
    background: linear-gradient(0deg, var(--container-bg-color), transparent);
}

.selectedPanel {
    background: linear-gradient(0deg, var(--container-bg-color), transparent);
}

.container_userProfile {
    display: grid;
    grid-template-columns: 40% auto;
    background: var(--container-bg-color);
    height: inherit;
}

.operationTab {
    color: blue;
    cursor: pointer;
}