.contestStantingsContainer {
    width: 100%;
    overflow-x: auto;
}

.main-container {
    /* background-color: blue; */
    padding: 10px;
    color: white;
}

.table-row {
    display: flex;
    background-color: #272643;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.participants-container {
    /* background-color: yellow; */
    width: 223px;
    margin: 15px 0px 15px 0px;
    padding: 0px 0px 0px 20px;
}

.problems-container {
    /* background-color: aqua; */
    margin: 15px 0px 15px 0px;
}

.points-container {
    /* background-color: bisque; */
    width: 130px;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.problem-title {
    width: 75px;
    text-align: center;
    padding: 0px 5px 0px 5px;

}

.failed-submit {
    color: #FF5B5B;
}

.passed-submit {
    color: #78D12F;
}

.rankingContainerGrid {
    display: grid;
    justify-items: center;
    align-items: center;

}

.rankingContainerGrid>.scoreboardCell {
    border-top: 1px solid rgb(139, 136, 136);
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreCell {
    flex-direction: column;
}

.scoreCell>p {
    margin: 0;
    padding: 0;
}

.err_cell {
    background: #eb3d3d;
    color: white;
}

.AC_cell {
    background: #080;
    color: white;
}

.scoreboardHeader {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    border-bottom: 1px solid rgb(139, 136, 136);
}