body {
    margin: 0;
    --container-bg-color: #E3F6F5;
    --containerHeight: calc(100vh - 60px);
    --primary_color: #337ab7
}

.mainContainer {
    max-height: var(--containerHeight);
    overflow-y: auto;
    height: var(--containerHeight);
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: var(--primary_color);
    color: white !important;
}

.card {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    background: white;
}

table {
    width: 100%;
}

tr>th,
tr>td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr>th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

.flex {
    display: flex;
    align-items: center;
}