body {
    margin: 0;

    --containerHeight: calc(100vh - 71px)
}

.mainContainer {
    max-height: var(--containerHeight);
    overflow-y: auto;
    height: var(--containerHeight);
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
}