body {
    margin: 0;
    --container-bg-color: #E3F6F5;
    --containerHeight: calc(100vh - 60px)
}

.mainContainer {
    max-height: var(--containerHeight);
    overflow-y: auto;
    height: var(--containerHeight);
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    background: white;
}