.uplodsContainer {
    display: flex;
    justify-content: space-evenly;
}

.uploadBtnContainer {
    display: flex;
    gap: 5px;
    align-items: stretch;
}

button.previewBtn {
    background: #007bff;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.uploadbtn {
    background: #d9d9d9;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.previewContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.createProblem {
    display: flex;
    height: calc(100% - 0px);
    gap: 20px;
    grid-template-rows: 50px 40px auto;
    flex-direction: column;
}

.textInputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.previewing {
    background: rgb(188, 188, 188) !important;
    color: black !important;
}

.createProblemlableContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview {
    flex: 1;
}